.days {
    border-radius: 100px;
    height: 150px;
    width: 150px;
    margin: auto;
    text-align: center;
    vertical-align: middle; 
    display: inline-flex;
    position: relative;
    opacity: 1; 
}
.arrows {
    height: 150px;
    width: 50px;
    margin: auto;
    text-align: center;
    vertical-align: middle; 
    display: inline-flex;
    position: relative;
}
#arrow{
    width: 50px;
    margin-left: auto;
}
a{
    text-decoration: none;
    color: black;
}
span {
    height: 100px;
    width: 100px;
    margin-top: 40px;
    margin-left: 25px;
    position: relative;
}
.arrows {
    font-size: 3em; 
}
body{
    text-align: center;
    font-family: cursive;
}
img{
    width: 200px;
    height: auto;
}
.background {
    border-radius: 100px;
    height: 150px;
    width: 150px;
    margin: auto;
    text-align: center;
    vertical-align: middle; 
    display: inline-flex;
    position: relative;
    opacity: .9;
    background-size: cover;
}
#day1 {
    background-image: url("images/RedDrank.jpg");
}