.days {
    border-radius: 100px;
	border: 2px solid #6495ED;
	background-color: #BCD2EE;
    height: 150px;
    width: 150px;
    margin: auto;
    text-align: center;
    vertical-align: middle; 
    display: inline-flex;
    position: relative;
}
.arrowimg{
    height: 100px;
    width: 100px;
    margin: auto;
    text-align: center;
    display: inline-flex; 
    position: relative;
}
a{
    text-decoration: none;
}
span {
    height: 100px;
    width: 100px;
    margin-top: 40px;
    margin-left: 25px;
    position: relative;
}
body{
    text-align: center;
    font-family: cursive;
}
img{
    width: 200px;
    height: auto;
}