.background {
    border-radius: 100px;
    height: 150px;
    width: 150px;
    position: absolute;
    display: inline-flex;
    text-align: center;
    vertical-align: middle; 
    background-size: cover;
    opacity: .4;
}

.days {
    border-radius: 100px;
    height: 150px;
    width: 150px;
    margin: auto;
    text-align: center;
    vertical-align: middle; 
    display: inline-flex;
    position: relative;

}
.arrows {
    height: 150px;
    width: 50px;
    margin: auto;
    text-align: center;
    vertical-align: middle; 
    display: inline-flex;
    position: relative;
}
#arrow{
    width: 50px;
    margin-left: auto;
}

span {
    height: 50px;
    width: 100px;
    margin-top: 40px;
    margin-left: 25px;
    position: relative;
    opacity: 1;
}
.arrows {
    font-size: 3em; 
}
body{
    text-align: center;
    font-family: cursive;
}
img{
    width: 200px;
    height: auto;
}

#day1 {
    background-image: url("images/DrearyoldKansas.jpg");
}
#day2{
    background-image: url("images/Kellylostinbrewery.jpg");
}
#day3{
    background-image: url("images/RedDrank.jpg");
}

#day4{
    background-image: url("images/KellyDavidJustinreunion.jpg");
}
div:hover {
    opacity: 1;
}